
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
* {
  font-family: 'M PLUS 1p', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: seashell;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rosybrown;
  color: seashell;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block,
.save-block {
  text-align: left;
  border-radius: 15px;
  color: black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px ;
}

.hour {
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
  font-size: large;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.clr-btn {
  border: 1px solid black;
}
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rosybrown;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}